.bc-main {
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  width: 16.666667%;
}

.bc-container {
  display: flex;
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  background-color: #000000;
  color: #ffffff;
  flex-direction: column;

  justify-content: space-between;

  border-radius: 0.75rem;
  gap: 1rem;
  padding-left: 8%;
  height: 95vh;
}

.bc-container h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.bc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.bc-top-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.bc-menuitem-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.bc-menuitem-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.bc-menuitem-text {
  font-weight: 600;
  color: 1rem;
}
